ul{
    list-style: none;
}
.topbar{
    color: gray;
    background: whitesmoke;
}
.topbar ul{
    padding-left: 0;
}
.topbar li{
    margin-right: 10px;
    display: inline;
}
.topbar p, .topbar a{
    text-align: right;
    color: gray;
}
.topbar a:hover{
    color:  #14c0c9;
    text-decoration: none;
}
.topbar p{
    color: gray;
}
.logo{
    margin-top: 25px;
}
.logo ul{
    text-align: right;
    padding-top: 22px;
}
.logo li{
    margin-right: 11px;
    color: gray;
    text-align: right;
    display: inline;
}
.logo a{
    color: white;
    border: 5px solid  #14c0c9;
    background:  #14c0c9;
}
.navbar{
    margin-top: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar ul{
    padding-left: 0;
}
.navbar li{
    margin-right: 10px;
    display: inline;
    font-size: 15px;
}
.navbar form{
    text-align: right;
    margin-right: 11px;
}
.navbar form>input{
    padding-right:8px;
}
.navbar form>a{
    color: white;
    border: 4px solid gray;
    background: gray;
}
.navbar a{
    color: gray;
}
.advertisement{
    margin-top: 10px;
}

.latest{
    margin-top: 40px;
}
.latest h2{
    font-size: 30px;
}
.latest span{
    color: turquoise;
}
.clothes{
    text-align: center;
}
.clothes a{
    border: 5px solid #424242;
    background:  #424a4a;
    padding: 3px;
    color: white;
}

.welcome h2{
    font-size: 30px;
}
.welcome span{
    color: turquoise;
}
.bestseller{
    margin-top: 40px;
}
.bestseller h2{
    font-size: 30px;
}
.bestseller span{
    color: turquoise;
}
.arrows{
    text-align: center;
}
.arrows a{
    font-size: 20px;
    border: 4px solid white;
    background: white;
    color:  gray;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.arrows a:hover{
    border: 4px solid #14c0c9;
    background: #14c0c9;
    color: white;
    text-decoration: none;
}
.arrows2 {
    text-align: center;
}
.arrows2 a{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border: 4px solid whitesmoke;
    background: whitesmoke;
    color:  gray;
    font-size: 20px;
}
.arrows2 a:hover{
    color:#14c0c9;
    border: 4px solid #14c0c9;
    background: #14c0c9;
    color: white;
    text-decoration: none;
}

.sec-clothes{
    text-align: center;
}
.sec-clothes img{
    padding-left: 10px;
}
.sec-clothes a{
    border: 5px solid #424242;
    background: #424242;
    color: white;
    padding: 3px;
}
.manufacturers{
    margin-top: 35px;
}
.manufacturers h2{
    font-size: 30px;
}
.manufacturers span{
    color: turquoise;
}
.arrows3{
    text-align: center;
}
.arrows3 a{
    font-size: 25px;
    border: 5px solid white;
    background: white;
    color: gray;
}
.arrows3 a:hover{
    border: 5px solid #14c0c9;
    background: #14c0c9;
    color: white;
    text-decoration: none;
}
.lower{
    margin-top: 35px;
    background: gray;
    padding: 20px;
    padding-bottom: 35px;
}
.lower form{
    text-align: right;
}
.lower form>input{
    border: 3px solid yellow;
    padding: 3px;

}
.lower form>a{
    color: white;
    border: 5px #424242 solid;
    background: #424242;
    padding: 3px;
}

.bottom{
    /* margin-top: 35px; */
    text-align: justify;
    background: #424242;
    padding-top: 12px;
}
.my-account ul{
    list-style: square;
}
.my-account ul{
    padding-left: 14px;
}
.my-account a{
    color:gray;
}
.my-account a:hover{
    color: #14c0c9;
    text-decoration: none;
}
.information ul{
    list-style: square;
    padding-left: 14px;
}
.information a{
    color: gray;
}
.information a:hover{
    color: #14c0c9;
}
.facebook h4{
    padding-left: 13px;
}
.like a{
    border: #14c0c9 solid 4px;
    background: #14c0c9;
    color: white;
}
.names{
    text-align: center;
    color:white;
}
hr{
    margin: 0;
    background: #000;
}
footer{
    background: #424242;
}
.symbols{
    margin-top: 10px;
}
.copyright{
    margin-top: 10px;
    text-align: right;
}